/* Write your CSS here */
.planet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.planet-image {
  width: 250px;
  height: 250px;
}

.planet-name {
  color: #f8fafc;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 700;
}

.description {
  color: #f1f5f9;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
}
